#e{
    color: white;
    text-align: justify;
    font-family: Bahnschrift;
}
ul{
    list-style: none;
}
#d{
    margin-left: 250px;
    margin-top: -300px;
}
#c{
    margin-left: -1450px;
}
#b{
    margin-left: -1450px;
}
#f{
    margin-top: 50px;
    margin-left: 250px;
}
iframe{
    margin-left: 250px;
}
.nav-enlace{
 text-decoration: none;
}
#h{
    margin-top: -250px;
    margin-left: -1400px;
}
#n{
    margin-left: -100px;
    font-size: 25px;

}
#m{
    margin-left: -100px;
    font-size: 25px;
    margin-top: -80px;

}
#z{
    margin-left: -105px;
    margin-top: 75px;
    font-size: 25px;
}
.menu li a:link, a:visited, a:hover, a:active{
    color:#759eff;
    font-size: 18px;
    text-decoration: none;
}
body{
    background-image: 
    url(https://www.xtrafondos.com/descargar.php?id=3038&resolucion=1920x1080);
    }

